################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/BerlinClock/v15
/obj/Debug
/packages/SpecFlow.1.9.0
